<!-- <mat-sidenav-container class="example-container" autosize>

  <div class="profile-card">
    <div class="header">
      <h2>Admin</h2>
      <h4>adminluckyCAT@email.com</h4>
    </div>
    <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="">
  </div>

  <mat-divider></mat-divider>

  <mat-sizenav #sidenav class="example-sidenav" mode="side" opened="true">
    <mat-nav-list>
      <mat-nav
    </mat-nav-list>
  </mat-sizenav>
</mat-sidenav-container> -->
<p>Side bar works</p>