<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button (click)="isMenuOpened = !isMenuOpened">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="example-app-name">Nested Menus</h1>


    <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
      <ul fxLayout="row" fxLayoutGap="20px">
        <li>
          <button mat-button [matMenuTriggerFor]="menu">
            <mat-icon>person_outline</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>
              <mat-icon>manage_accounts</mat-icon>
              Profile
            </button>

            <button mat-menu-item>
              <mat-icon>exit_to_app</mat-icon>
              Sign out
            </button>
          </mat-menu>
        </li>
      </ul>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container class="example-container" autosize>
  <mat-sidenav #sidenav class="example-sidenav" mode="side" opened="true">
    <mat-nav-list>
      <mat-list-item class="parent">
        <mat-icon mat-list-icon>home</mat-icon>
        <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Home</a>
      </mat-list-item>
    </mat-nav-list>
    <mat-nav-list>
      <mat-list-item (click)="showSubmenu = !showSubmenu" class="parent">
        <span class="full-width" *ngIf="isMenuOpened || isShowing">Jobs</span>
        <mat-icon mat-list-icon>all_inbox</mat-icon>
        <mat-icon class="menu-button" [ngClass]="{'rotated' : showSubmenu}" *ngIf="isMenuOpened || isShowing">
          expand_more</mat-icon>
      </mat-list-item>
      <div class="submenu" [ngClass]="{'expanded' : showSubmenu}" *ngIf="isShowing || isMenuOpened">
        <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts">List Jobs</a>
        <a mat-list-item routerLinkActive="list-item-active" routerLink="/createjob">Create Jobs</a>
      </div>
    </mat-nav-list>
    <mat-nav-list>
      <mat-list-item class="parent">
        <mat-icon mat-list-icon>bolt</mat-icon>
        <a mat-list-item routerLinkActive="list-item-active" routerLink="/crashes">Crashes</a>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <div class="example-sidenav-content">
    <router-outlet></router-outlet>
  </div>
  <footer class="main-footer">
    <strong>Copyright &copy; 2014-2020 <a href="https://adminlte.io">AdminLTE.io</a>.</strong>
    All rights reserved.
    <div class="float-right d-none d-sm-inline-block">
      <b>Version</b> 3.1.0-rc
    </div>
  </footer>
</mat-sidenav-container>